/Users/michaeltong/Documents/OMSCS/CSE6242/Assignments/HW_1/HW1-mtong31/Q1/graph_explanation.txt
/Users/michaeltong/Documents/OMSCS/CSE6242/Assignments/HW_1/HW1-mtong31/Q1/metrics.txt
/Users/michaeltong/Documents/OMSCS/CSE6242/Assignments/HW_1/HW1-mtong31/Q4/Q4Observations.txt
